<div class="topic-index-wrapper">
  <div class="container">
    <% @topics.each do |topic| %>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
            <h2 class="topic-author">
              <%= topic.user.name %>
            </h2>
            <%= image_tag topic.image.url %>
            <% if !topic.favorite_users.include?(current_user) %>
              <%= link_to favorites_path(topic_id: topic.id), method: :post do %>
              <i class="fa fa-heart fa-2x unfav-btn"></i>
              <% end %>
            <% else %>
              <%= link_to favorites_path(topic_id: topic.id), method: :delete do %>
              <i class="fa fa-heart fa-2x fav-btn"></i>
              <% end %>
            <% end %>
            <%= topic.favorite_users.count %>
            <%= link_to comment_new_path(topic_id: topic.id) do %>
                  <%= image_tag 'icons/comment.png', class: 'topic-index-icon' %>
            <% end %>
                <p class="topic-text">
                  <%= topic.description %>
                </p>
                <p class="topic-text">Comment</p>
                  <% topic.comments.each do |comment| %>
                <p class = "comment-text">
                  <%= comment.text %>
                </p>
              <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
